7days/data
altitude/data
csgo-base/data
csgo-surf/mysql_root_password
haloce/data
hl2/data
l4d2/data
minecraft-build/plugins/*.jar
minecraft-build/.svn
minecraft-survival/plugins/ChatControl*.jar
minecraft-survival/.svn
reflex-arena/data
retrocycles/data
rust/data
tf2/data
trackmania-forever/*.zip
trackmania-forever-rcon/.svn/*
trackmania-forever-rcon/RemoteControlExamples
wreckfest/data
ut2004/dedicatedserver*.7z
ut99/data
zdaemon/wads
